
@{
    ViewBag.Title = "Remote service";
}

<h2>Remote service</h2>

<p><a href="/WebApiClient/RemoteService/eRx" class="btn btn-primary btn-md">Generate eRx paylaod for APOS &raquo;</a> <a href="/WebApiClient/RemoteService/eRxJson" class="btn btn-primary btn-md">Generate eRx paylaod for APOS (Json) &raquo;</a> If you add this param you could do generate by AddressId <i>?AddressId=123</i></p>
<p><a href="/WebApiClient/RemoteService/OrderHubOrders" class="btn btn-primary btn-md">OrderHub - Orders &raquo;</a> <a href="/WebApiClient/RemoteService/OrderHubOrdersJson" class="btn btn-primary btn-md">OrderHub - Orders (Json) &raquo;</a></p>

