
@{
    ViewBag.Title = "Data Generation";
}

<h2>Data Generation</h2>

<p><a href="/WebApiClient/DataGen/Avs" class="btn btn-primary btn-md">Generate AVS/AHV &raquo;</a> <a href="/WebApiClient/DataGen/AvsJson" class="btn btn-primary btn-md">Generate AVS/AHV (Json) &raquo;</a></p>
<p><a href="/WebApiClient/DataGen/InsuranceCardNumber" class="btn btn-primary btn-md">Generate Insurance card number &raquo;</a> <a href="/WebApiClient/DataGen/InsuranceCardNumberJson" class="btn btn-primary btn-md">Generate Insurance card number (Json) &raquo;</a></p>

