
@{
    ViewBag.Title = "API List";
}

<h2>API List</h2>

<p><a href="/WebApiClient/ApiList/ServerConfig" class="btn btn-primary btn-md">Server Config &raquo;</a></p>
<p><a href="/WebApiClient/ApiList/CustomerPersona" class="btn btn-primary btn-md">Customer Personas &raquo;</a></p>
<p><a href="/WebApiClient/ApiList/Products" class="btn btn-primary btn-md">Products &raquo;</a></p>
<p><a href="/WebApiClient/ApiList/Partners" class="btn btn-primary btn-md">Partners &raquo;</a></p>
<p><a href="/WebApiClient/ApiList/SalesOrder" class="btn btn-primary btn-md">Sales Order &raquo;</a></p>