
@{
    ViewBag.Title = "Local Service";
}

<h2>Local Service</h2>

<p><a href="/WebApiClient/LocalService/PharmacyInfo" class="btn btn-primary btn-md">Get pharmacy info &raquo;</a> <a href="/WebApiClient/LocalService/PharmacyInfoJson" class="btn btn-primary btn-md">Get pharmacy info (Json) &raquo;</a></p>
<p><a href="/WebApiClient/LocalService/Medicine" class="btn btn-primary btn-md">Get medicine &raquo;</a> <a href="/WebApiClient/LocalService/MedicineJson?medicine=dafalgan" class="btn btn-primary btn-md">Get medicine (Json) (medicine=dafalgan) &raquo;</a></p>


